# 문제 1

리스트 [1,3,4,5,2] 를 내림차순, 오름차순으로 정렬하고, 4를 빼고 다시 리스트를 출력하세요

In [1]:
lis = [1,3,4,5,2]

[1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

[1, 2, 3, 5]

# 문제2 

표에서 아이스크림 이름을 키값으로, (가격, 재고) 리스트를 딕셔너리의 값으로 저장하라.  
딕셔너리의 이름은 inventory로 한다.

|이름|가격|재고|
|-----|-----|-----|
|메로나|300|20|
|비비빅|400|3|
|죠스바|250|100|

inventory 딕셔너리에서 메로나의 재고를 화면에 출력하라.

In [5]:
inventory = {'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

300원

# 문제 3

영희, 철수, 미애, 영진, 건희, 재용, 정희, 정혜는 서로 다른 취미를 가지고 있다.
영희와 건희는 필라테스를 취미로 한다.
정희와 정혜, 재용, 영희는 영화감상을 취미로 한다.
철수0, 미애, 정희, 정혜, 영희는 수영을 취미로 한다.
각각의 취미를 변수명, 이름을 원소로하는 집합으로 만들고 아래의 질문을 답을 하시오.

Q) 영화감상을 좋아하지만, 수영은 좋아하지 앟는 친구를 찾아보자

In [7]:
필라테스 = {'영희', '건희'}
영화감상 = {'정희', '정혜', '재용', '영희'}
수영 = {'철수', '미애', '정희', '정혜', '영희'}

{'재용'}

# 문제 4

고객의 개인정보보호를 위하여 이름을 비 식별화를 하려고 한다.
고객의 이름을 비 식별화 하여서 출력해보세요.

예시) 홍길동 -> 홍*동

In [9]:
names = ['홍길동', '홍계월', '김철수', '이영희', '박첨지']

홍*동
홍*월
김*수
이*희
박*지

# 문제 5

‘students.txt’ 파일을 읽어서 딕셔너리로 학생들의 정보를 저장하라.
해당 파일은 이름, 국어점수, 영어점수, 수학점수 순으로 되어있으며, 각 컬럼의 구분자는 tab(\t)으로 이루어져있다.
이름을 key로 하고, 국어점수, 영어점수, 수학점수를 순서대로 담은 리스트를 value로 하는 딕셔너리로 저장하라.
(encoding을 주의하시오.)

- read 이용

In [11]:
students = {}

홍길동	50	70	65
홍계월	80	90	100
뽀로로	83	92	86
펭수	95	100	97
뚝딱이	77	72	87
----
['홍길동\t50\t70\t65', '홍계월\t80\t90\t100', '뽀로로\t83\t92\t86', '펭수\t95\t100\t97', '뚝딱이\t77\t72\t87']
----
['홍길동', '50', '70', '65']
['홍계월', '80', '90', '100']
['뽀로로', '83', '92', '86']
['펭수', '95', '100', '97']
['뚝딱이', '77', '72', '87']
----

 - readlines 이용

In [13]:
students2= {}

['홍길동\t50\t70\t65\n', '홍계월\t80\t90\t100\n', '뽀로로\t83\t92\t86\n', '펭수\t95\t100\t97\n', '뚝딱이\t77\t72\t87']
----
['홍길동', '50', '70', '65\n']
['홍계월', '80', '90', '100\n']
['뽀로로', '83', '92', '86\n']
['펭수', '95', '100', '97\n']
['뚝딱이', '77', '72', '87']

# 문제 6

저장한 딕셔너리를 토대로 학생들의 평균을 구하라.
전체 학생의 국어, 영어, 수학 점수의 평균을 구해서 각각 kor, eng, math라는 변수에 저장하고, 출력하라.

In [15]:
students

{'홍길동': ['50', '70', '65'],
 '홍계월': ['80', '90', '100'],
 '뽀로로': ['83', '92', '86'],
 '펭수': ['95', '100', '97'],
 '뚝딱이': ['77', '72', '87']}

In [16]:
kor = 0
eng = 0
math = 0

학생들의 평균은 아래와 같습니다.
국어 : 77.0
영어 : 84.8
수학 : 87.0

# 문제 7 
학생들 개개인의 평균을 구하는 함수를 작성하라.
이름을 넣으면 국어, 영어, 수학 3과목의 평균을 계산하여 반환하는 함수를 작성하라.

97.33333333333333

# 문제 8

복리이자율7%로 1000만원 저금시 2000만원이 되기까지 몇년이 걸리는가?